<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"  routerLink="/" *ngIf="!userService.isLogin">SignIn</a>
    <a class="navbar-brand" href="#"  routerLink="/home" *ngIf="userService.isLogin">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
     
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" *ngIf="!userService.isLogin">SignUp</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="userService.isLogin" style="color:white;">{{Email}}</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="userService.isLogin" routerLink="/opentopic" style="color:white;">OpenTopic</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" (click)="LogOut()" *ngIf="userService.isLogin" style="cursor:pointer;color:white;">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>